*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.first{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem ;
    box-shadow: 1px 1px 6px 4px rgb(244, 235, 235);
    padding-bottom: .9rem;
}

.first img{
    width: 1rem;
    margin-right: 30%;
    width: 90px;
    
    
}

.left{
   
    margin-right: 5rem;
    padding-top: 1rem;
}

.right{
    
    width: 1200px;
}

.up{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    
}

.up ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.up ul li{
    list-style: none;
    margin: 0rem 1.6rem;
    color: rgb(46,46,46);
    font-size: .80rem;
    cursor: pointer;
    
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item span{
    color: rgb(46,46,46);
    margin-right: 2rem;
}

.item img{
    width: 1rem;
    margin-right: .5rem;
    margin-top: 2px;

}



.item a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(2,107,255);
    margin-right: 2rem;
    margin-left: 2rem;
}

.item a img{
    width: 1.5rem;
    margin-left: 5rem;
}

.order{
    padding: .8rem 2rem;
    border-radius: 6px;
    background-color: rgb(255,191,0);
    
}

.down{
      padding-left: 1rem;
      padding-top: .5rem;
      
}

.down a{
    margin-right: 2rem;
    text-decoration: none;
    color: rgb(46,46,46);
}


/*-----------features-------*/

.features{
    /*border: 2px solid red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 10rem;
}

.features img{
    width: 700px;
    height: 400px;
    margin-right: 1.5rem;
    
}

.details h1{
   font-size: 2.1rem; 
   font-weight: 700;
   line-height: 1.3;
   margin-bottom: 1.2rem;
   color: rgb(40, 36, 36);
}

.details p{
    line-height: 1.5;
}

.p2{
    font-size: .6rem ;
    margin: 4rem 0rem;
}



/*-------section three----*/

.three{
   
   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
   
   width: 200px;
   margin: 1rem 3rem;
   color: rgb(45, 42, 42);
}

.container p{
    margin-bottom: .3rem ;
    font-size: .95rem;
    cursor: pointer;
    
}

.bold{
    font-weight: bold;
    margin-bottom: 1.2rem;
    font-size: 1rem;
    color: black;
    
}

.four{

    display: flex;
    justify-content: space-evenly;
    padding: 3rem;
    border-bottom: 1.5px solid rgb(159, 148, 148);
    padding-bottom: 2rem;
    margin: 2rem 10rem;
    
}

.left-four{
    float: left;
    margin-left: 10px;
    margin-left: -394px;
}

.right-four{
    margin-left: 10px;
    margin-right: -351px;
    margin-top: -11px;
}

.right-four img{
    width:10rem;
    border-radius: 3px ;
    padding: .8rem;
   
    
}


/*-------footer----*/

.footer{
    margin-bottom:5rem;
}


.foot{
   width: 1200px;
}

.foot1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .9rem;
    padding-left: 1rem;
    
}

.foot1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot1 ul li{
    list-style: none;
    margin: 0rem 1.6rem;
    color: rgb(46,46,46);
    cursor: pointer;
    
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -189px;
}


.icon img{
    width: 1rem;
    margin-right: .5rem;
    margin-top: 2px;

}


.icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(10, 11, 11);
    margin-right: 2rem;
    margin-left: 2rem;
    text-decoration: none;
    padding-left: 2rem;
}

.item a img{
    width: 1.5rem;
    margin-left: 5rem;
}


.foot2{
    padding-left: 10rem;
    padding-top: .5rem;
   
    
}

.foot2 a{
  margin-right: 2rem;
  text-decoration: none;
  color: rgb(46,46,46);
  position: relative;
  left: -137px;
  top: 21px;
  padding-bottom: 10px;
}

footer{
    text-align: center;
}
.foot1 ul{
    position: relative;
    left: 187px;
}